*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}        
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #1E1F31;
    overflow-x: hidden;
}

section{
    padding: 20px;
    width: 1280px;
    margin: 20px auto;
}

section ul{
    display: flex;
    margin-bottom: 10px;
}

section ul li{
    list-style: none;
    background: #fff;
    padding: 8px 2px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 13px ;
}

section ul li.active{
    background: #08B3E5;
    color: #fff;
}

.product{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150%;
    line-height: 0;
}
.wave:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/wave2.svg) repeat-x;
    background-size: cover;
    background-position: -1000px 0;
    opacity: .2;
    animation: waveOne 60s linear infinite; 
}
@keyframes waveOne {
    50%{
        background-position: 0 0;
    }
}
.wave:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/wave2.svg) repeat-x;
    background-size: cover;
    background-position: 2732px 0;
    opacity: .3;
    animation: waveOne 120s linear infinite; 
}

/* card */

.card{
    position: relative;
    width: 320px;
    height: 420px;
    background: #122936;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
}

.card::before{
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #08B3E5;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before{
    top: -70%;
    transform: skewY(390deg);
}

.card::after{
    content: 'KIWYZ';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0, 0, 0, .1);
}

.card .imgBox{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card .imgBox img{
    max-width: 100%;
    transition: 0.5s;
}

.card:hover .imgBox img{
    max-width: 70%;
}

.card .contentBox{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 1;
}

.card .contentBox h3{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card .contentBox .price{
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card .contentBox .buy{
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background: #08B3E5;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .5s;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card:hover .contentBox .buy{
    top: 0;
    opacity: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width:991px){
    header{
        padding: 40px;
    }
    section{
        padding-top: 150px;
        padding-bottom: 0px;
    }
    .sci{
        left: 40px;
    }
    .content{
        flex-direction: column;
    }
    .content .textBox,
    .content .imgBox{
        max-width: 100%;
    }

    .swiper-slide{
        height: 500px;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1E1F31;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    header .navigation li a{
        margin: 50px 0;
        font-size: 1.5rem;
        font-weight: 300;
    }

    header .navigation li ul{
        display: none;
    }    
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    bottom: 10px;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


ul ul{
    max-width: 250px;
    position: absolute;
    padding: 10px 0;
    opacity: 0;
    z-index: -9999;
    transition: all ease 0.5s;
}
ul li:hover ul{
    opacity: 1;
    z-index: 9;
    padding: 10px 0;
}
ul ul li{
    margin: 0;
    width: 100%;
}
ul ul li a{
    width: 100%;
    display: inline-block;
    padding: 12px;
    background-color: #383a58;
    color: #fff;
}
ul ul li:first-child a{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
ul ul li:last-child a{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
ul ul li a:hover{
    background-color: #08B3E5;
    color: #fff;
}

header{
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    position: relative;
    max-width: 150px; 
}

header ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
header ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}
header ul li a:hover{
    color: #08B3E5;
}
header ul li a.btn{
    display: inline-block;
    width: 200px;
    height: 60px;
    line-height: 20px;
    background-color: #08B3E5;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    font-size: 15px;
    border-radius: 50px;
    transition: all ease 0.5s;
}
header ul li a.btn:hover{
    background-color: #615c59;
}