<p>
  Uma compra foi finalizada pelo cliente {{ cliente.nome }}.
  Metodo de pagamento: {{ pagamento }}
  Produtos: {{ produtos }}
  Endereço: {{ endereco }}
  Total: {{ total }}
</p>
<p>
  Equipe Kiwyx
</p>